<h2>
  Use Angular signal to display the first 100 pokemon images
</h2>
<div>
  <ng-container>
    <div class="pokemon-container">
      <ng-container *ngTemplateOutlet="details; context: { $implicit: rowData() }"></ng-container>
    </div>
    <div class="container">
      <img [src]="pokemon()?.front_shiny" />
      <img [src]="pokemon()?.back_shiny" />
    </div>
  </ng-container>
</div>
<div class="container">
  <button class="btn" *ngFor="let delta of [-2, -1, 1, 2]" (click)="updatePokemonId(delta)">{{delta < 0 ? delta : '+' +
      delta }}</button>
      <input type="number" [ngModel]="searchIdSub.getValue()" (ngModelChange)="searchIdSub.next($event)" name="searchId"
        id="searchId" />
</div>
<ng-template #details let-rowData>
  <label *ngFor="let data of rowData">
    <span style="font-weight: bold; color: #aaa">{{ data.text }}</span>
    <span>{{ data.value }}</span>
  </label>
</ng-template>
<div style="color: red;">
  <p>
    Error Code:[{{httpError()?.status}}]
  </p>
  <p>
    Description:[{{httpError()?.message}}]
  </p>
</div>