<div class="row">
  <div class="col-12">Router Examples</div>
<button (click)="navigateToARoute()">Navigate Programmatically</button>
</div>
<!--Left Menu Bar-->
<div class="row">
  <div class="col-2">
    <div class="row">
      <div class="col-12">
        
      <a href="">Home</a>  
      </div>
    </div>
    <div class="row">
      <div class="col-12">
      <!-- <a  routerLink="/users">User List</a>-->
       <a  (click)="navigateToARoute()">User List</a>
      
      </div>
    </div>

  </div>
  <div class="col-10">

    <router-outlet></router-outlet>
  </div>
</div>


Services  Examples
<div>


<app-bulk-load></app-bulk-load>
<app-user-list></app-user-list>
</div>

<app-employee-list></app-employee-list>
<p>employee component</p>
<button (click)="newUser()">Add New Employee - POST Call</button>
<div *ngFor="let emp of empService.employees">
  <employee [ngClass]="{'textColor':emp?.userId===100}"  [employee]="emp"></employee>
  <span *ngIf="emp?.lastName ;else lastNameNoAvlbl">
    contactnation
    {{(emp?.lastName)?(emp?.lastName):(emp?.firstName)}}
    <hr>
    {{emp?.nameCaption}}
  </span>
  <span>
    {{emp?.isSelected}}
  </span>
</div>
<ng-template #lastNameNoAvlbl>Last Name not available</ng-template>

