Services  Examples
<div class="row">
  <div class="col-4"> First  </div>
  <div class="col-4">Second</div>
  <div class="col-4">Third</div>
</div>
<div class="row">
  <div class="col-4"> <app-switch-map-example></app-switch-map-example>  </div>
  <div class="col-4"><app-concat-map-example></app-concat-map-example></div>
  <div class="col-4"><app-merge-map-exaample></app-merge-map-exaample></div>
</div>
<hr>
<div>
<app-bulk-load></app-bulk-load>
<app-user-list></app-user-list>
</div>

<app-employee-list></app-employee-list>
<p>employee component</p>
<button (click)="newUser()">Add New Employee - POST Call</button>
<div *ngFor="let emp of empService.employees">
  <employee [ngClass]="{'textColor':emp?.userId===100}"  [employee]="emp"></employee>
  <span *ngIf="emp?.lastName ;else lastNameNoAvlbl">
    contactnation
    {{(emp?.lastName)?(emp?.lastName):(emp?.firstName)}}
    <hr>
    {{emp?.nameCaption}}
  </span>
  <span>
    {{emp?.isSelected}}
  </span>
</div>
<ng-template #lastNameNoAvlbl>Last Name not available</ng-template>
<router-outlet></router-outlet>
